extends layout

block content
  h1 #{title}: #{bookinstance._id}

  form(method='POST' action='')
    div.form-group
      input#bookinstanceid.form-control(type='hidden' name='bookinstanceid' require='true' value=bookinstance._id)
    button.btn.btn-primary(type='submit') Delete